@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(10, 104, 255, 0.3), 0 0 20px rgba(10, 104, 255, 0.2), 0 0 30px rgba(10, 104, 255, 0.1);
    }
    50% {
        box-shadow: 0 0 20px rgba(10, 104, 255, 0.4), 0 0 40px rgba(10, 104, 255, 0.3), 0 0 60px rgba(10, 104, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 10px rgba(10, 104, 255, 0.3), 0 0 20px rgba(10, 104, 255, 0.2), 0 0 30px rgba(10, 104, 255, 0.1);
    }
}

body {
    background-color: #fdf5ed;
    color: #333;
    line-height: 1.6;
}

:root {
    --primary-color: #e51f40;
    --secondary-color: #0a68ff;
    --background-color: #fdf5ed;
    --text-color: #333;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
}

.main {
    margin: 0 auto;
}

.messager {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: auto;
    height: 400px;
    z-index: 1000;
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    transition: all var(--transition-speed) ease;
}

.messager:hover {
    transform: translateY(-5px);
}
